.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 7;
  background-color: white;
  width: 80%;
  min-width: 300px;
}

.result-container {
  /* background-color: blueviolet; */
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  gap: 0px 10px;
  padding: 10px 15px;
}

.result-card {
  border: 1px solid black;
  width: 20rem;
  height: 8rem;
}


