.grid-container {
  display: inline-grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: minmax(5px, 10px) minmax(185px, 1fr) minmax(185px, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 0.9fr repeat(2, 1.3fr);
  gap: 0px 0px;
  grid-template-areas:
    "... header header find-location find-location"
    "... main-body main-body sidebar sidebar"
    "... main-body main-body sidebar sidebar";
  position: relative;
}

.main-body {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 3px 2px;
  grid-template-areas:
    "music music sport"
    "misc misc individual";
  grid-area: main-body;
  position: relative;
  padding-right: 5px;
  z-index: 5;
}

.music { 
  grid-area: music;
}

.sport {
  grid-area: sport;
}

.misc {
  grid-area: misc; 
}

.individual {
  grid-area: individual;
}

li.list-search {
  list-style: none;
}

.music, .sport, .misc, .individual {
  font-size: 0.8rem;
  background: rgba(112, 128, 144, 0.8);
  border: 1px solid rgb(51,51,51);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  padding-left: 5px;
  filter: opacity(0.5);
  z-index: 6;
}

.music:hover, .sport:hover, .misc:hover, .individual:hover {
  filter: opacity(1.0);
}


@media screen and (max-width: 1000px) {
  .music, .sport, .misc, .individual {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 800px) {
  .main-body {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: repeat(4, 1fr);
    gap: 3px 2px;
    grid-template-areas:
      "music"
      "sport"
      "misc"
      "individual";
    grid-area: main-body;
    position: relative;
    padding-right: 5px;
    width: 350px;
  }
}